<template>
  <div class="q-mb-md">
    <div class="text-h6 q-mb-md">NHÃN HÀNG</div>
    <div class="row q-col-gutter-md">
      <div v-for="brand in productBrands" :key="brand.id" class="col-6 col-sm-3 col-md-2">
        <q-btn dense flat no-caps stack class="brand" :to="`/brand/${brand.id}`">
          <q-img
            class="brand-thumbnail"
            contain
            :src="brand.media ? brand.media.path : require('~/assets/placeholder.svg')"
          />
          <span>{{brand.name}}</span>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      productBrands: state => state.productBrands.productBrands
    })
  },
  mounted() {
    this.getProductBrands({ limit: 12 });
  },
  methods: {
    ...mapActions({
      getProductBrands: 'productBrands/getProductBrands'
    })
  }
};
</script>

<style lang="scss" scoped>
.brand {
  background: white;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  .brand-thumbnail {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
</style>
