<template>
  <q-list>
    <q-item
      v-for="notification in notifications"
      :key="notification.id"
      clickable
      :active="notification.status === 'UNREAD'"
      active-class="bg-teal-1"
      @click="() => markRead(notification.id)"
    >
      <q-item-section avatar>
        <q-avatar icon="notifications" color="primary" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label>{{notification.title}}</q-item-label>
        <q-item-label caption lines="2" v-html="notification.content"></q-item-label>
      </q-item-section>
      <q-item-section side top>
        <q-item-label caption>{{notification.createdAt | moment-from-now}}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      notifications: state => state.notifications.userNotifications
    })
  },
  methods: {
    ...mapActions({
      markRead: 'notifications/markRead'
    })
  }
};
</script>
