<template>
  <div class="q-my-md">
    <div class="text-h6 q-mb-md">DANH MỤC NỔI BẬT</div>
    <div class="row q-col-gutter-md">
      <div v-for="category in productCategories" :key="category.id" class="col-6 col-sm-3 col-md-2">
        <q-btn dense flat stack no-caps class="category" :to="`/category/${category.id}`">
          <q-img
            class="cat-thumbnail"
            contain
            :src="category.media ? category.media.path : require('~/assets/placeholder.svg')"
          />
          <span>{{category.name}}</span>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      productCategories: state => state.productCategories.productCategories
    })
  },
  mounted() {
    this.getProductCategories({ limit: 12 });
  },
  methods: {
    ...mapActions({
      getProductCategories: 'productCategories/getProductCategories'
    })
  }
};
</script>

<style lang="scss" scoped>
.category {
  background: white;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  .cat-thumbnail {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
</style>
