<template>
  <div class="q-pb-md">
    <div class="text-h6 q-mb-md text-uppercase">
      <span>DANH SÁCH SẢN PHẨM</span>
      <span v-if="category">&nbsp;THUỘC {{category.name}}</span>
      <span v-if="brand">&nbsp;NHÃN HÀNG {{brand.name}}</span>
      <span v-if="query">&nbsp;VỚI TỪ KHOÁ: {{query}}</span>
    </div>
    <div v-if="products.length > 0" class="row q-col-gutter-md">
      <div
        :class="`col-12 ${small ? 'col-sm-4 col-md-3' : 'col-sm-3 col-md-2'}`"
        v-for="product in products"
        :key="product.id"
      >
        <router-link :to="`/product/${product.id}`" tag="div" class="product">
          <div class="product-thumbnail bg-white">
            <q-carousel
              v-model="modelSlides[product.id]"
              animated
              infinite
              height="180px"
              autoplay
              transition-prev="slide-right"
              transition-next="slide-left"
            >
              <q-carousel-slide
                v-for="(media, index) in product.medias"
                :key="index"
                :name="index"
                :img-src="media.path"
              />
            </q-carousel>
            <div class="q-pa-sm">
              <div class="product-title">{{product.name}}</div>
              <div class="flex justify-between items-center">
                <div class="text-primary" style="font-size:.9rem;">{{product.price | money}}</div>
                <q-btn
                  flat
                  dense
                  icon="shopping_cart"
                  color="primary"
                  size="sm"
                  @click.prevent="addToCart({itemId: product.id})"
                />
              </div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
    <div v-else>HIỆN TẠI KHÔNG CÓ SẢN PHẨM</div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  props: {
    category: { type: Object, default: () => null },
    brand: { type: Object, default: () => null },
    query: { type: String, default: '' },
    small: { type: Boolean, default: false }
  },
  data() {
    return {
      modelSlides: {}
    };
  },
  computed: {
    ...mapState({
      products: state => state.products.products
    })
  },
  async mounted() {
    if (this.category) {
      await this.getProducts({
        filters: { category: this.category.id },
        limit: -1
      });
    } else if (this.brand) {
      await this.getProducts({
        filters: { brand: this.brand.id },
        limit: -1
      });
    } else if (this.query) {
      await this.getProducts({
        filters: { query: this.query },
        limit: -1
      });
    } else {
      await this.getProducts({ limit: -1 });
    }

    this.modelSlides = this.products.reduce((obj, item) => {
      obj[item.id] = 0;
      return obj;
    }, {});
  },
  methods: {
    ...mapActions({
      getProducts: 'products/getProducts',
      addToCart: 'cart/addToCart'
    })
  }
};
</script>

<style lang="scss" scoped>
.product {
  position: relative;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 0.9rem;
    line-height: 1.4rem;
    height: 2.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
</style>
