<template>
  <q-form @submit.prevent="updateMyInfo(updateForm)">
    <div class="row q-col-gutter-sm">
      <div class="col-12 col-md-6">
        <q-input v-model="updateForm.fullName" outlined label="Họ tên *" class="q-mb-md" />
      </div>
      <div class="col-12 col-md-6">
        <q-select
          outlined
          v-model="updateForm.gender"
          :options="genderOptions"
          label="Giới tính *"
        />
      </div>
    </div>

    <q-input
      v-model="updateForm.phoneNumber"
      class="q-mb-md"
      outlined
      type="tel"
      label="Số điện thoại *"
      mask="(###) ### - ####"
      unmasked-value
    />
    <q-input v-model="updateForm.email" class="q-mb-md" outlined type="email" label="Email" />

    <div class="q-mt-md">
      <q-btn label="Lưu" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { GENDER } from '~/commons/enums';

export default {
  data() {
    return {
      updateForm: {
        fullName: '',
        gender: {},
        phoneNumber: '',
        email: ''
      },
      genderOptions: [
        { label: 'Nam', value: GENDER.MALE },
        { label: 'Nữ', value: GENDER.FEMALE }
      ]
    };
  },
  computed: {
    ...mapState({
      authUser: state => state.auth.user
    })
  },
  watch: {
    authUser: {
      handler() {
        this.updateForm = {
          fullName: this.authUser.fullName,
          phoneNumber: this.authUser.phoneNumber,
          email: this.authUser.email,
          gender: this.genderOptions.find(g => g.value === this.authUser.gender)
        };
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions({
      updateMyInfo: 'auth/updateMyInfo'
    })
  }
};
</script>
