<template>
  <div>
    <q-dialog v-model="orderModal" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Thông tin giao hàng</div>
        </q-card-section>

        <q-card-section>
          <q-input v-model="orderForm.fullName" outlined label="Họ tên *" class="q-mb-md" />
          <q-input
            v-model="orderForm.phoneNumber"
            mask="(###) ### - ####"
            unmasked-value
            outlined
            type="tel"
            label="Số điện thoại *"
            class="q-mb-md"
          />
          <city-component v-model="orderForm.fullAddress" class="q-mb-md" @input="onSelectAddress" />
          <q-input v-model="orderForm.note" outlined label="Ghi chú" class="q-mb-md" />
          <q-select
            outlined
            v-model="orderForm.orderReceiver"
            :options="orderReceiverOptions"
            label="Chọn nơi nhận hàng *"
            class="q-mb-md"
          />
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn color="negative" flat label="Huỷ bỏ" @click="orderModal = false" />
          <q-btn type="submit" flat label="Xác nhận" @click="onSubmit" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <order-payment-info v-model="orderPaymentPopup" :order-id="orderPaymentId" />
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import CityComponent from '~/components/commons/City.vue';
import OrderPaymentInfo from '~/components/user/OrderPaymentInfo.vue';

export default {
  components: { CityComponent, OrderPaymentInfo },
  props: {
    value: { type: Boolean, default: false }
  },
  data() {
    return {
      orderPaymentPopup: false,
      orderPaymentId: '',
      orderForm: {
        fullAddress: {
          city: '',
          district: '',
          ward: '',
          address: ''
        },
        orderReceiver: '',
        fullName: '',
        phoneNumber: '',
        note: ''
      },
      orderReceivers: [],
      selectAddress: {
        city: '',
        district: '',
        ward: '',
        address: ''
      }
    };
  },
  computed: {
    ...mapState({
      authUser: state => state.auth.user
    }),
    ...mapGetters({
      getUserRetailFee: 'settings/getUserRetailFee'
    }),
    orderModal: {
      get() {
        return this.value;
      },
      set(v) {
        this.$emit('input', v);
      }
    },
    orderReceiverOptions() {
      if (!this.authUser.referral) {
        return this.orderReceivers.map(u => ({
          label: u.fullAddress,
          value: u.id
        }));
      }

      return [
        {
          label: this.authUser.referral.fullAddress,
          value: this.authUser.referral.id
        }
      ];
    },
    shippingFee() {
      const fee = this.getUserRetailFee[this.authUser.userRetail];
      if (typeof fee !== 'undefined') {
        return parseFloat(fee).toLocaleString();
      }
      return 0;
    }
  },
  methods: {
    ...mapActions({
      createMyOrder: 'orders/createMyOrder',
      clearCart: 'cart/clearCart',
      getOrderReceivers: 'users/getOrderReceivers'
    }),
    async onSelectAddress({ city, district, ward, address }) {
      if (!this.authUser.referral) {
        if (this.selectAddress.address !== address) {
          this.selectAddress = { city, district, ward, address };
          return;
        }
        this.selectAddress = { city, district, ward, address };

        if (city && district && ward) {
          this.orderReceivers = await this.getOrderReceivers({
            city,
            district,
            ward
          });
        } else {
          this.orderReceivers = [];
        }
      }
    },
    async onSubmit() {
      const { fullAddress, ...data } = this.orderForm;
      const form = { ...fullAddress, ...data };
      const result = await this.createMyOrder(form);

      if (result) {
        this.orderModal = false;
        this.orderPaymentId = result.id;
        this.orderPaymentPopup = true;
        this.orderForm = {
          fullAddress: {
            city: '',
            district: '',
            ward: '',
            address: ''
          },
          orderReceiver: '',
          fullName: '',
          phoneNumber: '',
          note: ''
        };
        this.orderReceivers = [];
        this.selectAddress = {
          city: '',
          district: '',
          ward: '',
          address: ''
        };
        this.clearCart();
      }
    }
  }
};
</script>
