<template>
  <q-dialog v-model="orderPaymentModal" persistent>
    <q-card>
      <q-card-section>
        <div class="relative-position">
          <div class="text-h5 text-bold text-center">THÔNG TIN THANH TOÁN</div>
          <q-btn class="absolute-top-right" icon="close" flat round dense v-close-popup />
        </div>
      </q-card-section>
      <q-card-section>
        <div class="payment-text">Quý Thành Viên vui lòng thanh toán đơn hàng bằng chuyển khoản</div>
        <div class="payment-text">
          Chủ TK:
          <strong>CÔNG TY CỔ PHẦN VIET DISTRIBUTION</strong>
        </div>
        <div class="payment-text">Số tài khoản: 0181 0036 56051 tại Vietcombank CN Nam Sài Gòn</div>
        <div class="payment-text">
          Nội dung chuyển khoản:
          <strong>{{orderId}}-{{authUser.id}}</strong>
        </div>
      </q-card-section>
      <q-card-actions align="right" class="bg-white text-teal">
        <q-btn color="negative" flat label="Trở về" @click="orderPaymentModal = false" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState } from 'vuex';

export default {
  props: {
    value: { type: Boolean, default: false },
    orderId: { type: String, default: '' }
  },
  computed: {
    ...mapState({
      authUser: state => state.auth.user
    }),
    orderPaymentModal: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.payment-text {
  font-size: 1.3rem;
  margin-top: 10px;
}
</style>
