<template>
  <div v-if="product">
    <q-img v-if="activeMediaIndex > -1" :src="product.medias[activeMediaIndex].path" />
    <div class="row q-mt-md q-col-gutter-sm">
      <div v-for="(media, index) in product.medias" :key="index" class="col-4 col-sm-3">
        <div
          :class="`product-media ${activeMediaIndex === index ? 'active' : ''}`"
          @click="activeMediaIndex = index"
        >
          <q-img :src="media.path" :ratio="1" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: { type: Object, default: () => null }
  },
  data() {
    return {
      activeMediaIndex: -1
    };
  },
  mounted() {
    if (this.product && this.product.medias.length > 0) {
      this.activeMediaIndex = 0;
    }
  }
};
</script>

<style lang="scss" scoped>
.product-media {
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
  }

  &.active {
    border-color: $primary;
  }
}
</style>
