<template>
  <q-layout>
    <q-page-container>
      <q-page class="bg-grey-3">
        <top-banner />
        <div class="container">
          <list-categories />
          <a href="#" class="block q-mb-md">
            <q-img src="statics/banners/banner_main.jpeg" />
          </a>
          <list-brands />
          <list-products />
          <a href="#" class="block q-pb-md">
            <q-img src="statics/banners/banner_footer.jpeg" />
          </a>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import TopBanner from '~/components/user/TopBanner.vue';
import ListProducts from '~/components/user/ListProducts.vue';
import ListCategories from '~/components/user/ListCategories.vue';
import ListBrands from '~/components/user/ListBrands.vue';

export default {
  components: { TopBanner, ListProducts, ListCategories, ListBrands }
};
</script>
