<template>
  <mutate
    title="Thành viên"
    class="my-contributor-orders"
    :columns="columns"
    :data="users"
    :options="mutateOptions"
    @table-request="options => getUsers({ ...options, referral: authUser.id })"
  >
    <template slot="detail" slot-scope="props">
      <div class="detail-user">
        <div class="text-h6 q-mb-md">Xem chi tiết thành viên {{props.detail.fullName}}</div>
        <div v-for="(item, key) in props.detail" :key="key" class="user-item row justify-between">
          <div class="title">{{key | table-detail}}</div>
          <div v-if="item" class="text-right">
            <span v-if="key === 'status'">{{item | user-status}}</span>
            <span v-else-if="key === 'createdAt'">{{item | moment}}</span>
            <span v-else-if="key === 'gender'">{{item | user-gender}}</span>
            <span v-else-if="key === 'referral'">{{item.fullName}} ({{item.id}})</span>
            <span v-else-if="key === 'userRetail'">{{item | user-retail}}</span>
            <span v-else-if="key === 'medias'">
              <div class="media-wrapper">
                <div v-for="(img, index) in item" :key="index" class="media-img">
                  <img :src="img.path" />
                </div>
              </div>
            </span>
            <span v-else-if="key === 'hideUpdate'"></span>
            <span v-else>{{item}}</span>
          </div>
          <div v-else class="text-right text-italic">Không có dữ liệu</div>
        </div>
      </div>
    </template>
  </mutate>
</template>

<script>
import moment from 'moment';
import { mapActions, mapState, mapGetters } from 'vuex';
import {
  TABLE_DETAIL_TEXT,
  USER_RETAIL_TEXT,
  USER_STATUS_TEXT
} from '~/commons/enums';
import Mutate from '~/components/commons/Mutate.vue';

export default {
  components: { Mutate },
  meta() {
    return {
      title: 'Thành viên - Viet Distribution'
    };
  },
  data() {
    return {
      TABLE_DETAIL_TEXT,
      columns: [
        {
          name: 'id',
          label: 'Mã đơn hàng',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'fullName',
          label: 'Họ tên',
          align: 'left',
          field: 'fullName',
          sortable: true
        },
        {
          name: 'email',
          label: 'Email',
          align: 'left',
          field: 'email',
          sortable: true
        },
        {
          name: 'phoneNumber',
          label: 'SĐT',
          align: 'left',
          field: 'phoneNumber',
          sortable: true
        },
        {
          name: 'nationalId',
          label: 'CMND',
          align: 'left',
          field: 'nationalId',
          sortable: true
        },
        {
          name: 'address',
          label: 'Địa chỉ',
          align: 'left',
          field: 'fullAddress',
          sortable: true
        },
        {
          name: 'userRetail',
          label: 'Loại hình',
          align: 'left',
          field: 'userRetail',
          sortable: true,
          format: val => USER_RETAIL_TEXT[val]
        },
        {
          name: 'totalSpend',
          label: 'Tổng thanh toán',
          align: 'left',
          field: 'totalSpend',
          sortable: false,
          format: val => (val >= 0 ? `${val.toLocaleString()} VND` : '')
        },
        {
          name: 'createdAt',
          label: 'Ngày đăng kí',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'status',
          label: 'Trạng thái',
          align: 'left',
          field: 'status',
          sortable: true,
          format: val => USER_STATUS_TEXT[val]
        },
        { name: 'function', align: 'right' }
      ]
    };
  },
  computed: {
    ...mapState({
      authUser: state => state.auth.user,
      totalRows: state => state.users.totalUsers
    }),
    ...mapGetters({
      users: 'users/getContributorsByUser'
    }),
    mutateOptions() {
      return {
        totalRows: this.totalRows
      };
    }
  },
  mounted() {
    if (
      ['CONTRIBUTOR', 'CONTRIBUTOR_EDUCATED'].indexOf(
        this.authUser.userRetail
      ) > -1
    ) {
      window.location.href = '/';
    }
    this.getUsers({ referral: this.authUser.id });
  },
  methods: {
    ...mapActions({
      getUsers: 'users/getUsers'
    })
  }
};
</script>

<style lang="scss" scoped>
.my-contributor-orders {
  padding: 0;
}
.detail-user {
  .user-item {
    padding: 10px;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
      font-weight: bold;
    }
  }
}
</style>
