<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 text-uppercase text-center">Thông tin của tôi</div>
    </q-card-section>
    <q-tabs v-model="infoTab" inline-label class="bg-primary text-white">
      <fragment v-if="$q.screen.gt.sm">
        <q-tab name="basic" icon="info" label="Thông tin cơ bản" />
        <q-tab name="password" icon="lock" label="Mật khẩu" />
        <q-tab name="detail" icon="supervised_user_circle" label="Thông tin chi tiết" />
      </fragment>
      <fragment v-else>
        <q-tab name="basic" icon="info" />
        <q-tab name="password" icon="lock" />
        <q-tab name="detail" icon="supervised_user_circle" />
      </fragment>
    </q-tabs>
    <q-separator />

    <q-tab-panels v-model="infoTab" animated>
      <q-tab-panel name="basic">
        <my-info-basic />
      </q-tab-panel>

      <q-tab-panel name="password">
        <my-info-password />
      </q-tab-panel>

      <q-tab-panel name="detail">
        <my-info-detail />
      </q-tab-panel>
    </q-tab-panels>
  </q-card>
</template>

<script>
import MyInfoBasic from '~/components/user/MyInfoBasic.vue';
import MyInfoPassword from '~/components/user/MyInfoPassword.vue';
import MyInfoDetail from '~/components/user/MyInfoDetail.vue';

export default {
  components: { MyInfoBasic, MyInfoPassword, MyInfoDetail },
  meta() {
    return {
      title: 'Thông tin của tôi - Viet Distribution'
    };
  },
  data() {
    return {
      infoTab: 'basic'
    };
  }
};
</script>
