<template>
  <mutate
    title="Đơn hàng của tôi"
    class="my-orders"
    :columns="columns"
    :data="orders"
    :options="mutateOptions"
    @table-request="options => getOrders({ options, isOwner: true })"
  >
    <template slot="detail" slot-scope="props">
      <div class="detail-order">
        <div class="text-h6 q-mb-md">Xem chi tiết đơn hàng #{{props.detail.id}}</div>
        <fragment v-for="(item, key) in props.detail" :key="key">
          <div v-if="TABLE_DETAIL_TEXT[key]" class="row justify-between order-item">
            <div class="title">{{key | table-detail}}</div>
            <div v-if="item" class="text-right">
              <span v-if="key === 'createdAt'">{{item | moment}}</span>
              <span v-else-if="key === 'status'">{{item | order-status}}</span>
              <span v-else-if="key === 'orderDetails'">
                <order-detail :order="props.detail" />
              </span>
              <span v-else-if="key === 'orderReceiver'">{{item.fullAddress}}</span>
              <span v-else>{{item}}</span>
            </div>
            <div v-else class="text-right text-italic">Không có dữ liệu</div>
          </div>
        </fragment>
      </div>
    </template>
    <template slot="function" slot-scope="props">
      <q-btn
        v-if="props.row.status === 'PENDING'"
        flat
        dense
        icon="close"
        color="negative"
        class="q-mr-sm"
        @click="rejectMyOrder(props.row.id)"
      >
        <q-tooltip anchor="top middle" self="bottom middle">Huỷ đơn hàng</q-tooltip>
      </q-btn>
    </template>
  </mutate>
</template>

<script>
import moment from 'moment';
import { mapActions, mapState } from 'vuex';
import { TABLE_DETAIL_TEXT, ORDER_STATUS_TEXT } from '~/commons/enums';
import OrderDetail from '~/components/commons/OrderDetail.vue';
import Mutate from '~/components/commons/Mutate.vue';

export default {
  components: { Mutate, OrderDetail },
  meta() {
    return {
      title: 'Đơn hàng của tôi - Viet Distribution'
    };
  },
  data() {
    return {
      TABLE_DETAIL_TEXT,
      columns: [
        {
          name: 'id',
          label: 'Mã đơn hàng',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'createdAt',
          label: 'Ngày',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'totalVat',
          label: 'Tổng tiền',
          align: 'left',
          field: 'totalVat',
          format: val => (val >= 0 ? `${val.toLocaleString()} VND` : ''),
          sortable: true
        },
        {
          name: 'totalBonusCommission',
          label: 'Tổng chiết khấu',
          align: 'left',
          field: 'totalBonusCommission',
          format: val => (val >= 0 ? `${val.toLocaleString()} VND` : ''),
          sortable: true
        },
        {
          name: 'totalEarning',
          label: 'Tổng TNCN',
          align: 'left',
          field: 'totalEarning',
          format: val => (val >= 0 ? `${val.toLocaleString()} VND` : ''),
          sortable: true
        },
        {
          name: 'shippingFee',
          label: 'Phí vận chuyển',
          align: 'left',
          field: 'shippingFee',
          format: val => (val > 0 ? `${val.toLocaleString()} VND` : 'Miễn phí'),
          sortable: true
        },
        {
          name: 'total',
          label: 'Tổng thanh toán',
          align: 'left',
          field: 'total',
          format: val => (val >= 0 ? `${val.toLocaleString()} VND` : ''),
          sortable: true
        },
        {
          name: 'fullName',
          label: 'Họ tên',
          align: 'left',
          field: 'fullName',
          sortable: true
        },
        {
          name: 'phoneNumber',
          label: 'Số điện thoại',
          align: 'left',
          field: 'phoneNumber',
          sortable: true
        },
        {
          name: 'address',
          label: 'Địa điểm nhận hàng',
          align: 'left',
          field: 'orderReceiver',
          format: val => (val ? val.fullAddress : ''),
          sortable: true
        },
        {
          name: 'status',
          label: 'Trạng thái',
          align: 'left',
          field: 'status',
          format: val => ORDER_STATUS_TEXT[val],
          sortable: true
        },
        {
          name: 'function',
          align: 'right'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      orders: state => state.orders.orders,
      totalRows: state => state.orders.totalOrders
    }),
    mutateOptions() {
      return {
        totalRows: this.totalRows
      };
    }
  },
  mounted() {
    this.getOrders({ isOwner: true });
  },
  methods: {
    ...mapActions({
      getOrders: 'orders/getOrders',
      rejectMyOrder: 'orders/rejectMyOrder'
    })
  }
};
</script>

<style lang="scss" scoped>
.my-orders {
  padding: 0;
}

.detail-order {
  .order-item {
    padding: 10px;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
      font-weight: bold;
    }
  }
}
</style>
