<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 text-uppercase text-center">Thông báo ({{notificationCount}})</div>
      <list-notifications />
    </q-card-section>
  </q-card>
</template>

<script>
import { mapGetters } from 'vuex';
import ListNotifications from '~/components/user/ListNotifications.vue';

export default {
  components: { ListNotifications },
  meta() {
    return {
      title: 'Thông báo - Viet Distribution'
    };
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      notificationCount: 'notifications/getNotificationCount'
    })
  }
};
</script>
