<template>
  <q-layout>
    <q-page-container>
      <q-page class="bg-grey-3">
        <div class="container">
          <list-categories />
          <list-products :query="query" />
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import ListProducts from '~/components/user/ListProducts.vue';
import ListCategories from '~/components/user/ListCategories.vue';

export default {
  components: { ListProducts, ListCategories },
  data() {
    return {
      query: this.$route.query.query || ''
    };
  },
  meta() {
    return {
      title: `Từ khoá: ${this.query} - Viet Distribution`
    };
  }
};
</script>
