<template>
  <div class="q-pa-lg">
    <q-dialog v-model="toggleMutateDialog">
      <q-card class="card-wrapper">
        <q-card-section>
          <div class="text-h6">{{mutateLabel}}</div>
        </q-card-section>
        <q-form @submit="onSubmit" class="q-gutter-md">
          <q-card-section>
            <slot name="mutation" :data="mutateData" />
          </q-card-section>

          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Huỷ bỏ" color="negative" @click="onCloseMutatePopup" />
            <q-btn flat type="submit" :label="mutateLabel" color="positive" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
    <data-table
      :title="title"
      :data="data"
      :columns="columns"
      :options="options"
      :can-create="typeof $listeners['create'] !== 'undefined'"
      :can-update="typeof $listeners['update'] !== 'undefined'"
      :can-delete="typeof $listeners['delete'] !== 'undefined'"
      :can-view="typeof $scopedSlots['detail'] !== 'undefined'"
      @create="openCreateModal"
      @edit="openEditModal"
      @delete="onDelete"
      @request="onTableRequest"
    >
      <template v-if="!!$scopedSlots.detail" slot="detail" slot-scope="props">
        <slot name="detail" :detail="props.detail" />
      </template>
      <template slot="function" slot-scope="props">
        <slot name="function" :row="props.row" />
      </template>
    </data-table>
  </div>
</template>

<script>
import DataTable from '~/components/commons/Table.vue';

export default {
  components: { DataTable },
  props: {
    title: { type: String, default: '' },
    columns: { type: Array, default: () => [] },
    data: { type: Array, default: () => [] },
    options: { type: Object, default: () => ({}) }
  },
  data() {
    return {
      toggleMutateDialog: false,
      mutateData: {},
      isEdit: false
    };
  },
  computed: {
    mutateLabel() {
      return this.isEdit
        ? `Sửa ${this.title.toLowerCase()}`
        : `Thêm ${this.title.toLowerCase()} mới`;
    }
  },
  methods: {
    openCreateModal() {
      this.mutateData = {};
      this.toggleMutateDialog = true;
      this.isEdit = false;
    },
    openEditModal(data) {
      this.mutateData = Object.assign({}, data);
      this.toggleMutateDialog = true;
      this.isEdit = true;
    },
    onDelete(data) {
      this.$emit('delete', data);
    },
    onCloseMutatePopup() {
      this.toggleMutateDialog = false;
    },
    onTableRequest({ page = 1, rowsPerPage = 10, sortBy, descending, filter }) {
      const paginationOptions = {
        filter
      };
      if (sortBy) {
        paginationOptions.orderBy = sortBy;
        paginationOptions.order = descending ? 'DESC' : 'ASC';
      }
      paginationOptions.page = page - 1;
      paginationOptions.limit = rowsPerPage;

      this.$emit('table-request', paginationOptions);
    },
    onSubmit() {
      if (this.isEdit) {
        this.$emit('update', this.mutateData);
      } else {
        this.$emit('create', this.mutateData);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.card-wrapper {
  width: 80vw;
  max-width: 800px;
}
</style>
