<template>
  <div>
    <div v-for="detail in order.orderDetails" :key="detail.id" class="order-detail">
      <div
        class="flex items-center justify-between q-mb-sm q-pb-sm"
        style="border-bottom: 1px solid rgba(0,0,0,0.1)"
      >
        <div v-if="detail.product.thumbnail" class="q-mr-md">
          <img :src="detail.product.thumbnail.path" style="width: 50px;" />
        </div>
        <div>
          <div>
            <strong>{{detail.product.name}}</strong>
            (x {{detail.quantity}})
          </div>
          <div>
            Đơn giá:
            <strong class="text-primary">{{detail.price | money}}</strong>
          </div>
          <div>
            VAT:
            <strong class="text-primary">{{detail.vat | money}}</strong>
          </div>
          <div>
            Chiết khấu:
            <strong class="text-primary">{{detail.bonusCommission | money}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <span>Tổng tiền:</span>
      <strong class="text-primary">{{order.totalVat | money}}</strong>
    </div>
    <div class="flex justify-between">
      <span>Tổng chiết khấu:</span>
      <strong class="text-primary">{{order.totalBonusCommission | money}}</strong>
    </div>
    <div class="flex justify-between">
      <span>Tổng TNCN:</span>
      <strong class="text-primary">{{order.totalEarning | money}}</strong>
    </div>
    <div class="flex justify-between">
      <span>Tổng phí ship:</span>
      <strong class="text-primary">{{order.shippingFee | money}}</strong>
    </div>
    <div class="flex justify-between">
      <span>Thành tiền:</span>
      <strong class="text-primary">{{order.total | money}}</strong>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: { type: Object, default: () => ({}) }
  }
};
</script>

<style lang="scss" scoped>
</style>
