<template>
  <div>
    <q-dialog v-model="confirmDeletePopup" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="warning" text-color="white" />
          <span class="q-ml-sm">Bạn có chắc chắn muốn xoá?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Không" color="default" v-close-popup />
          <q-btn
            flat
            label="Có"
            color="primary"
            v-close-popup
            @click="$emit('delete', deleteRow.id)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="toggleDetailDialog">
      <q-card class="detail-dialog">
        <q-card-section>
          <slot name="detail" :detail="detailRow" />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-table
      class="data-table"
      :title="title"
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :filter="tableFilter"
      :rows-per-page-options="[5, 10, 20, 50, 100]"
      row-key="id"
      @request="onRequest"
      rows-per-page-label="Số dữ liệu trên 1 trang"
    >
      <template v-slot:top="props">
        <div class="text-h5 text-bold">
          <span class="q-mr-md">Danh sách {{titleLowerCase}}</span>
          <q-btn
            v-if="canCreate"
            color="positive"
            icon="add"
            label="Thêm mới"
            @click="$emit('create')"
          />
        </div>
        <q-space />
        <q-input dense debounce="300" v-model="tableFilter" placeholder="Tìm kiếm...">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body-cell-thumbnail="props">
        <q-td :props="props">
          <img class="thumbnail" v-if="props.row.thumbnail" :src="props.row.thumbnail" />
          <span v-else class="text-italic">Không có ảnh</span>
        </q-td>
      </template>
      <template v-slot:body-cell-media="props">
        <q-td :props="props">
          <img class="thumbnail" v-if="props.row.media" :src="props.row.media" />
          <span v-else class="text-italic">Không có ảnh</span>
        </q-td>
      </template>
      <template v-slot:body-cell-function="props">
        <q-td :props="props">
          <slot name="function" :row="props.row" />
          <q-btn
            v-if="canView"
            flat
            dense
            icon="remove_red_eye"
            color="secondary"
            class="q-mr-sm"
            @click="onViewDetail(props.row)"
          >
            <q-tooltip anchor="top middle" self="bottom middle">Xem chi tiết {{titleLowerCase}}</q-tooltip>
          </q-btn>
          <q-btn
            v-if="canUpdate && !props.row.hideUpdate"
            flat
            dense
            icon="edit"
            color="warning"
            class="q-mr-sm"
            @click="$emit('edit', props.row)"
          >
            <q-tooltip anchor="top middle" self="bottom middle">Chỉnh sửa {{titleLowerCase}}</q-tooltip>
          </q-btn>
          <q-btn
            v-if="canDelete"
            flat
            dense
            icon="delete"
            color="negative"
            @click="onDelete(props.row)"
          >
            <q-tooltip anchor="top middle" self="bottom middle">Xoá {{titleLowerCase}}</q-tooltip>
          </q-btn>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String, default: '' },
    data: { type: Array, default: () => [] },
    columns: { type: Array, default: () => [] },
    options: { type: Object, default: () => ({}) },
    canCreate: { type: Boolean, default: true },
    canUpdate: { type: Boolean, default: true },
    canDelete: { type: Boolean, default: true },
    canView: { type: Boolean, default: true }
  },
  data() {
    return {
      toggleDetailDialog: false,
      detailRow: {},
      confirmDeletePopup: false,
      deleteRow: null,
      tableFilter: '',
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 0,
        descending: true
      }
    };
  },
  computed: {
    titleLowerCase() {
      return this.title.toLowerCase();
    }
  },
  watch: {
    options() {
      this.pagination = {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: this.options.totalRows || 0
      };
    },
    tableFilter() {
      this.$emit('request', { ...this.pagination, filter: this.tableFilter });
    }
  },
  methods: {
    onViewDetail(row) {
      this.detailRow = row;
      delete this.detailRow.__typename;
      delete this.detailRow.__index;

      this.toggleDetailDialog = true;
    },
    onDelete(row) {
      this.deleteRow = row;
      this.confirmDeletePopup = true;
    },
    onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;

      this.pagination = {
        ...this.pagination,
        page,
        rowsPerPage,
        sortBy,
        descending
      };

      this.$emit('request', { ...this.pagination, filter: this.tableFilter });
    }
  }
};
</script>

<style lang="scss" scoped>
.thumbnail {
  height: 100px;
}
.detail-dialog {
  width: 80vw;
  max-width: 800px;
}
.data-table {
  /deep/ th {
    color: $primary;
    opacity: 1;
    font-weight: bold;
    font-size: 0.9rem;
  }
  /deep/ th:last-child,
  /deep/ td:last-child {
    background-color: #f2f2f2;
    position: sticky;
    position: -webkit-sticky;
    right: 0;
    z-index: 1;
  }
}
</style>
