<template>
  <q-layout view="hHh lpR fFf">
    <q-header>
      <q-toolbar>
        <q-btn flat round dense icon="menu" class="q-mr-sm" @click="drawerLeft = !drawerLeft" />
        <q-avatar square>
          <img src="~/assets/logo.png" />
        </q-avatar>
        <q-toolbar-title>Quản trị Viet Distribution</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="drawerLeft"
      show-if-above
      :width="300"
      :breakpoint="700"
      elevated
      content-class="bg-grey-3"
    >
      <q-scroll-area class="fit">
        <q-list v-for="(menuItem, index) in listMenus" :key="index">
          <q-item clickable v-ripple :to="menuItem.link">
            <q-item-section avatar>
              <q-icon :name="menuItem.icon" />
            </q-item-section>
            <q-item-section>{{ menuItem.label }}</q-item-section>
          </q-item>

          <q-separator v-if="menuItem.separator" />
        </q-list>
        <q-list>
          <q-item clickable v-ripple @click="logout(USER_ROLE.ADMIN)">
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>Đăng xuất</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { USER_ROLE } from '~/commons/enums';

export default {
  name: 'PageIndex',
  data() {
    return {
      USER_ROLE,
      drawerLeft: true,
      permissions: {
        12368798: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order',
          '/admin/report'
        ],
        12368799: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order',
          '/admin/report'
        ],
        12368800: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order'
        ],
        12368801: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order'
        ],
        12368726: [
          '/admin/category',
          '/admin/brand',
          '/admin/product',
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order'
        ],
        12368766: [
          '/admin/user',
          '/admin/notification',
          '/admin/category',
          '/admin/setting',
          '/admin/report'
        ],
        12368728: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order',
          '/admin/report'
        ],
        12368770: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order',
          '/admin/notification',
          '/admin/category',
          '/admin/setting',
          '/admin/report'
        ],
        12368731: [
          '/admin/user',
          '/admin/order',
          '/admin/contributor-order',
          '/admin/center-order'
        ]
      },
      listMenus: [
        {
          link: '/admin/user',
          icon: 'account_circle',
          label: 'Thành viên',
          separator: true
        },
        {
          link: '/admin/notification',
          icon: 'notifications',
          label: 'Thông báo',
          separator: true
        },
        {
          link: '/admin/category',
          icon: 'layers',
          label: 'Danh mục sản phẩm',
          separator: true
        },
        {
          link: '/admin/brand',
          icon: 'account_balance',
          label: 'Nhãn hàng',
          separator: true
        },
        {
          link: '/admin/product',
          icon: 'shop',
          label: 'Danh sách sản phẩm',
          separator: true
        },
        {
          link: '/admin/order',
          icon: 'shopping_cart',
          label: 'Đơn hàng',
          separator: true
        },
        {
          link: '/admin/contributor-order',
          icon: 'shopping_cart',
          label: 'Theo dõi đơn hàng TV',
          separator: true
        },
        {
          link: '/admin/center-order',
          icon: 'shopping_cart',
          label: 'Đơn hàng gửi về trung tâm',
          separator: true
        },
        {
          link: '/admin/report',
          icon: 'notes',
          label: 'Báo cáo',
          separator: true
        },
        {
          link: '/admin/setting',
          icon: 'settings',
          label: 'Cài đặt',
          separator: true
        }
      ]
    };
  },
  computed: {
    ...mapState({
      user: state => state.auth.user
    })
  },
  watch: {
    user: {
      handler() {
        if (Object.keys(this.user).length > 0) {
          const permission = this.permissions[this.user.id];
          if (permission) {
            this.listMenus = this.listMenus.filter(
              m => permission.indexOf(m.link) > -1
            );
          }
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.getAuthUser();
    this.getSettings();
  },
  methods: {
    ...mapActions({
      getAuthUser: 'auth/getAuthUser',
      logout: 'auth/logout',
      getSettings: 'settings/getSettings'
    })
  }
};
</script>
