<template>
  <div class="container">
    <div class="row q-col-gutter-md q-pt-md">
      <div class="col-md-2 col-12">
        <router-link
          to="/user/notifications"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/notifications' ? 'text-primary' : ''}`"
        >Thông báo ({{notificationCount}})</router-link>
        <router-link
          to="/user/my-orders"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/my-orders' ? 'text-primary' : ''}`"
        >Đơn hàng mua</router-link>
        <router-link
          v-if="!isContributor"
          to="/user/my-contributor-orders"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/my-contributor-orders' ? 'text-primary' : ''}`"
        >Đơn hàng thành viên</router-link>
        <router-link
          v-if="!isContributor"
          to="/user/my-contributors"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/my-contributors' ? 'text-primary' : ''}`"
        >Thành viên</router-link>
        <router-link
          to="/user/my-report"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/my-report' ? 'text-primary' : ''}`"
        >Báo cáo sản phẩm</router-link>
        <router-link
          to="/user"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user' ? 'text-primary' : ''}`"
        >Hồ sơ của tôi</router-link>
        <router-link
          to="/user/payment-info"
          tag="div"
          :class="`routing-user ${$route.fullPath === '/user/payment-info' ? 'text-primary' : ''}`"
        >Thông tin thanh toán</router-link>
      </div>
      <div class="col-md-10 col-12">
        <router-view :key="$route.fullPath" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState({
      authUser: state => state.auth.user
    }),
    ...mapGetters({
      notificationCount: 'notifications/getNotificationCount'
    }),
    isContributor() {
      return (
        ['CONTRIBUTOR', 'CONTRIBUTOR_EDUCATED'].indexOf(
          this.authUser.userRetail
        ) > -1
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.routing-user {
  font-weight: bold;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
  }
}
</style>
