<template>
  <q-page class="bg-grey-3">
    <q-toolbar class="bg-blue-10 text-white shadow-2">
      <q-toolbar-title class="q-ml-sm">Thông báo</q-toolbar-title>
    </q-toolbar>
    <mutate
      title="Thông báo"
      :columns="columns"
      :data="notifications"
      :options="mutateOptions"
      @create="createNotification"
      @update="updateNotification"
      @delete="deleteNotification"
      @table-request="getNotifications"
    >
      <template slot="mutation" slot-scope="props">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-md-6">
            <q-input outlined v-model="props.data.title" label="Tiêu đề" />
          </div>
          <div class="col-12 col-md-6">
            <q-select
              outlined
              multiple
              use-input
              v-model="props.data.toUsers"
              label="Gửi đến người dùng"
              :options="toUserOptions"
              @filter="filterFn"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">Không có kết quả</q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
        </div>
        <div class="q-mt-md">
          <text-editor label="Mô tả sản phẩm" v-model="props.data.content" />
        </div>
      </template>
    </mutate>
  </q-page>
</template>

<script>
import moment from 'moment';
import { mapActions, mapState } from 'vuex';
import Mutate from '~/components/commons/Mutate.vue';
import TextEditor from '~/components/commons/TextEditor.vue';

export default {
  components: { Mutate, TextEditor },
  data() {
    return {
      toUserOptions: [],
      columns: [
        {
          name: 'id',
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'title',
          label: 'Tiêu đề',
          align: 'left',
          field: 'title',
          sortable: true
        },
        {
          name: 'content',
          align: 'left',
          label: 'Nội dung',
          field: 'content',
          sortable: true
        },
        {
          name: 'createdAt',
          label: 'Ngày gửi',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'function',
          align: 'right'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      notifications: state => state.notifications.notifications,
      users: state => state.users.users,
      totalRows: state => state.notifications.totalProducts
    }),
    mutateOptions() {
      return {
        totalRows: this.totalRows
      };
    }
  },
  mounted() {
    this.getUsers();
    this.getNotifications();
  },
  methods: {
    ...mapActions({
      getUsers: 'users/getUsers',
      getNotifications: 'notifications/getNotifications',
      createNotification: 'notifications/createNotification',
      updateNotification: 'notifications/updateNotification',
      deleteNotification: 'notifications/deleteNotification'
    }),
    async filterFn(val, update) {
      await this.getUsers({ filter: val });
      update(() => {
        this.toUserOptions = this.users.map(user => ({
          label: `${user.fullName} (${user.phoneNumber})`,
          value: user.id
        }));
      });
    }
  }
};
</script>
