<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <q-page class="flex flex-center bg-grey-3">
        <q-card class="login-card">
          <q-card-section class="flex flex-center">
            <q-avatar square size="100px">
              <img src="~/assets/logo.png" />
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-h4 text-center text-bold q-mb-md">Đăng nhập quản trị</div>
          </q-card-section>
          <q-card-section>
            <q-form @submit="onSubmit" class="q-gutter-md">
              <q-input outlined v-model="loginForm.id" label="Mã số Quản Trị Viên" />
              <q-input outlined type="password" v-model="loginForm.password" label="Mật khẩu" />
              <div>
                <q-btn label="Đăng nhập" type="submit" color="primary" />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions } from 'vuex';
import { USER_ROLE } from '~/commons/enums';

export default {
  name: 'PageLogin',
  data() {
    return {
      loginForm: {
        id: '',
        password: ''
      }
    };
  },
  methods: {
    ...mapActions({
      login: 'auth/login'
    }),
    onSubmit() {
      this.login({ ...this.loginForm, role: USER_ROLE.ADMIN });
    }
  }
};
</script>

<style lang="scss" scoped>
.login-card {
  width: 30%;
  min-width: 300px;
}
</style>
