<template>
  <q-page class="bg-grey-3">
    <q-toolbar class="bg-blue-10 text-white shadow-2">
      <q-toolbar-title class="q-ml-sm">Sản phẩm</q-toolbar-title>
    </q-toolbar>
    <mutate
      title="Sản phẩm"
      :columns="columns"
      :data="products"
      :options="mutateOptions"
      @create="createProduct"
      @update="updateProduct"
      @delete="deleteProduct"
      @table-request="getProducts"
    >
      <template slot="detail" slot-scope="props">
        <div class="detail-product">
          <div class="text-h6 q-mb-md">Xem chi tiết sản phẩm {{props.detail.name}}</div>
          <fragment v-for="(item, key) in props.detail" :key="key">
            <div v-if="TABLE_DETAIL_TEXT[key]" class="row justify-between product-item">
              <div class="title">{{key | table-detail}}</div>
              <div v-if="item" class="text-right">
                <span v-if="key === 'createdAt'">{{item | moment}}</span>
                <span v-else-if="key === 'updatedAt'">{{item | moment}}</span>
                <span v-else-if="key === 'price'">{{item | money}}</span>
                <span v-else-if="key === 'bonusCommission'">
                  <div>Thành viên: {{item.CONTRIBUTOR | money}}</div>
                  <div>Thành viên đã đi học: {{item.CONTRIBUTOR_EDUCATED | money}}</div>
                  <div>Điểm nhận hàng: {{item.SALE | money}}</div>
                  <div>Điểm giao hàng: {{item.DELIVERY | money}}</div>
                </span>
                <span v-else-if="key === 'description'" v-html="$options.filters.html(item)"></span>
                <span v-else-if="key === 'mediaArr'">
                  <div class="media-wrapper">
                    <div v-for="(img, index) in item" :key="index" class="media-img">
                      <img :src="img" />
                    </div>
                  </div>
                </span>
                <span v-else-if="key === 'brand'">
                  <div class="brand-wrapper">
                    <q-img
                      v-if="item.media"
                      :src="item.media.path"
                      style="width: 80px;"
                      class="q-mr-md"
                    />
                    <span>{{item.name}}</span>
                  </div>
                </span>
                <span v-else-if="key === 'category'">
                  <div class="category-wrapper">
                    <q-img
                      v-if="item.media"
                      :src="item.media.path"
                      style="width: 80px;"
                      class="q-mr-md"
                    />
                    <span>{{item.name}}</span>
                  </div>
                </span>
                <span v-else>{{item}}</span>
              </div>
              <div v-else class="text-right text-italic">Không có dữ liệu</div>
            </div>
          </fragment>
        </div>
      </template>
      <template slot="mutation" slot-scope="props">
        <div class="row q-col-gutter-sm q-mb-md">
          <div class="col-12 col-md-6">
            <q-input v-model="props.data.name" outlined label="Tên sản phẩm" />
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="props.data.sku" outlined label="SKU" />
          </div>
        </div>
        <div class="row q-col-gutter-sm q-mb-md">
          <div class="col-12 col-md-6">
            <q-input v-model.number="props.data.price" type="number" label="Giá tiền" outlined />
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model.number="props.data.inventory" type="number" label="Tồn kho" outlined />
          </div>
        </div>
        <div class="row q-col-gutter-sm">
          <div class="col-12 col-md-6">
            <q-input
              v-model.number="props.data.bonusCommissionForContributor"
              type="number"
              label="Tiền chiết khấu cho TV mới đăng kí và chưa đi học"
              outlined
              class="q-mb-md"
            />
          </div>
          <div class="col-12 col-md-6">
            <q-input
              v-model.number="props.data.bonusCommissionForContributorEducated"
              type="number"
              label="Tiền chiết khấu cho TV đã đi học"
              outlined
              class="q-mb-md"
            />
          </div>
        </div>
        <div class="row q-col-gutter-sm">
          <div class="col-12 col-md-6">
            <q-input
              v-model.number="props.data.bonusCommissionForSale"
              type="number"
              label="Tiền chiết khấu cho ĐIỂM BÁN HÀNG"
              outlined
              class="q-mb-md"
            />
          </div>
          <div class="col-12 col-md-6">
            <q-input
              v-model.number="props.data.bonusCommissionForDelivery"
              type="number"
              label="Tiền chiết khấu cho ĐIỂM GIAO HÀNG"
              outlined
              class="q-mb-md"
            />
          </div>
        </div>
        <image-uploader v-model="props.data.mediaArr" label="Ảnh sản phẩm" class="q-mb-md" />
        <div class="row q-col-gutter-sm q-mb-md">
          <div class="col-12 col-md-6">
            <autocomplete
              v-model="props.data.brandObj"
              :options="brandOptions"
              label="Nhãn hàng"
              @filter="getProductBrands"
            >
              <template slot="option" slot-scope="props">
                <q-item v-bind="props.data.itemProps" v-on="props.data.itemEvents">
                  <q-item-section avatar>
                    <q-img :src="props.data.opt.logo" spinner-color="white" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label v-html="props.data.opt.label"></q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </autocomplete>
          </div>
          <div class="col-12 col-md-6">
            <autocomplete
              v-model="props.data.categoryObj"
              :options="categoryOptions"
              label="Danh mục"
              @filter="getProductCategories"
            />
          </div>
        </div>

        <text-editor label="Mô tả ngắn" class="q-mb-md" v-model="props.data.shortDescription" />
        <text-editor label="Mô tả sản phẩm" v-model="props.data.description" />
      </template>
    </mutate>
  </q-page>
</template>

<script>
import moment from 'moment';
import { mapActions, mapState, mapGetters } from 'vuex';
import Mutate from '~/components/commons/Mutate.vue';
import ImageUploader from '~/components/commons/ImageUploader.vue';
import Autocomplete from '~/components/commons/Autocomplete.vue';
import TextEditor from '~/components/commons/TextEditor.vue';
import { TABLE_DETAIL_TEXT } from '~/commons/enums';

export default {
  components: { Mutate, ImageUploader, Autocomplete, TextEditor },
  data() {
    return {
      TABLE_DETAIL_TEXT,
      columns: [
        {
          name: 'id',
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'name',
          label: 'Tên sản phẩm',
          align: 'left',
          field: 'name',
          sortable: true
        },
        {
          name: 'sku',
          label: 'SKU',
          align: 'left',
          field: 'sku',
          sortable: true
        },
        {
          name: 'media',
          label: 'Ảnh',
          align: 'left',
          field: 'media',
          sortable: false
        },
        {
          name: 'price',
          align: 'left',
          label: 'Giá tiền',
          field: 'price',
          format: val => `${val >= 0 ? val.toLocaleString() : ''} VND`,
          sortable: true
        },
        {
          name: 'brand',
          label: 'Nhãn hàng',
          align: 'left',
          field: 'brand',
          format: val => (val ? val.name : ''),
          sortable: true
        },
        {
          name: 'category',
          label: 'Danh mục',
          align: 'left',
          field: 'category',
          format: val => (val ? val.name : ''),
          sortable: true
        },
        {
          name: 'createdAt',
          label: 'Ngày tạo',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'function',
          align: 'right'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      totalRows: state => state.products.totalProducts,
      productBrands: state => state.productBrands.productBrands,
      productCategories: state => state.productCategories.productCategories
    }),
    ...mapGetters({
      products: 'products/getProducts'
    }),
    mutateOptions() {
      return {
        totalRows: this.totalRows
      };
    },
    brandOptions() {
      return this.productBrands.map(pb => ({
        label: pb.name,
        value: pb.id,
        logo: pb.media.path
      }));
    },
    categoryOptions() {
      return this.productCategories.map(pc => ({
        label: pc.name,
        value: pc.id
      }));
    }
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    ...mapActions({
      getProducts: 'products/getProducts',
      createProduct: 'products/createProduct',
      updateProduct: 'products/updateProduct',
      deleteProduct: 'products/deleteProduct',
      getProductBrands: 'productBrands/getProductBrands',
      getProductCategories: 'productCategories/getProductCategories'
    })
  }
};
</script>

<style lang="scss" scoped>
.detail-product {
  .product-item {
    padding: 10px;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
      font-weight: bold;
    }
  }
}
.media-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .media-img {
    width: 50%;
    padding: 10px;

    img {
      width: 100%;
    }
  }
}
</style>
