<template>
  <q-page class="bg-grey-3">
    <q-toolbar class="bg-blue-10 text-white shadow-2">
      <q-toolbar-title class="q-ml-sm">Nhãn hàng</q-toolbar-title>
    </q-toolbar>
    <mutate
      title="Nhãn hàng"
      :columns="columns"
      :data="productBrands"
      :options="mutateOptions"
      @create="createProductBrand"
      @update="updateProductBrand"
      @delete="deleteProductBrand"
      @table-request="getProductBrands"
    >
      <template slot="mutation" slot-scope="props">
        <q-input v-model="props.data.name" outlined label="Tên nhãn hàng" class="q-mb-md" />
        <image-uploader
          v-model="props.data.mediaArr"
          label="Logo"
          :multiple="false"
          class="q-mb-md"
        />
        <q-input v-model="props.data.description" outlined label="Mô tả nhãn hàng" class="q-mb-md" />
        <q-checkbox left-label v-model="props.data.showOnHomepage" label="Hiển thị ra trang chủ" />
      </template>
    </mutate>
  </q-page>
</template>

<script>
import moment from 'moment';
import { mapState, mapActions, mapGetters } from 'vuex';
import Mutate from '~/components/commons/Mutate.vue';
import ImageUploader from '~/components/commons/ImageUploader.vue';

export default {
  components: { Mutate, ImageUploader },
  data() {
    return {
      columns: [
        {
          name: 'id',
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'name',
          label: 'Tên nhãn hàng',
          align: 'left',
          field: 'name',
          sortable: true
        },
        {
          name: 'media',
          align: 'left',
          label: 'Logo',
          field: 'media'
        },
        {
          name: 'description',
          align: 'left',
          label: 'Mô tả nhãn hàng',
          field: 'description'
        },
        {
          name: 'showOnHomepage',
          align: 'left',
          label: 'Hiển thị ra trang chủ',
          format: val => (val ? 'Hiển thị' : 'Ẩn'),
          field: 'showOnHomepage'
        },
        {
          name: 'createdAt',
          label: 'Ngày tạo',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'function',
          align: 'right'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      totalRows: state => state.productBrands.totalBrands
    }),
    ...mapGetters({
      productBrands: 'productBrands/getProductBrands'
    }),
    mutateOptions() {
      return {
        hideDetail: true,
        totalRows: this.totalRows
      };
    }
  },
  mounted() {
    this.getProductBrands();
  },
  methods: {
    ...mapActions({
      getProductBrands: 'productBrands/getProductBrands',
      createProductBrand: 'productBrands/createProductBrand',
      updateProductBrand: 'productBrands/updateProductBrand',
      deleteProductBrand: 'productBrands/deleteProductBrand'
    })
  }
};
</script>
