<template>
  <q-page class="bg-grey-3">
    <q-toolbar class="bg-blue-10 text-white shadow-2">
      <q-toolbar-title class="q-ml-sm">Danh mục sản phẩm</q-toolbar-title>
    </q-toolbar>
    <mutate
      title="Danh mục sản phẩm"
      :columns="columns"
      :data="productCategories"
      :options="mutateOptions"
      @create="createProductCategory"
      @update="updateProductCategory"
      @delete="deleteProductCategory"
      @table-request="getProductCategories"
    >
      <template slot="mutation" slot-scope="props">
        <q-input v-model="props.data.name" outlined label="Tên danh mục" class="q-mb-md" />
        <image-uploader
          v-model="props.data.mediaArr"
          label="Ảnh"
          :multiple="false"
          class="q-mb-md"
        />
        <q-checkbox left-label v-model="props.data.showOnHomepage" label="Hiển thị ra trang chủ" />
      </template>
    </mutate>
  </q-page>
</template>

<script>
import moment from 'moment';
import { mapState, mapActions, mapGetters } from 'vuex';
import Mutate from '~/components/commons/Mutate.vue';
import ImageUploader from '~/components/commons/ImageUploader.vue';

export default {
  components: { Mutate, ImageUploader },
  data() {
    return {
      columns: [
        {
          name: 'id',
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true
        },
        {
          name: 'name',
          label: 'Tên danh mục',
          align: 'left',
          field: 'name',
          sortable: true
        },
        {
          name: 'media',
          align: 'left',
          label: 'Ảnh danh mục',
          field: 'media'
        },
        {
          name: 'showOnHomepage',
          align: 'left',
          label: 'Hiển thị ra trang chủ',
          format: val => (val ? 'Hiển thị' : 'Ẩn'),
          field: 'showOnHomepage'
        },
        {
          name: 'createdAt',
          label: 'Ngày tạo',
          align: 'left',
          field: 'createdAt',
          format: val => moment(val).format('DD/MM/YYYY HH:mm:ss'),
          sortable: true
        },
        {
          name: 'function',
          align: 'right'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      totalRows: state => state.productCategories.totalCategories
    }),
    ...mapGetters({
      productCategories: 'productCategories/getProductCategories'
    }),
    mutateOptions() {
      return {
        hideDetail: true,
        totalRows: this.totalRows
      };
    }
  },
  mounted() {
    this.getProductCategories();
  },
  methods: {
    ...mapActions({
      getProductCategories: 'productCategories/getProductCategories',
      createProductCategory: 'productCategories/createProductCategory',
      updateProductCategory: 'productCategories/updateProductCategory',
      deleteProductCategory: 'productCategories/deleteProductCategory'
    })
  }
};
</script>
